if [ "$ESCHER_TEST_CASES_PATH" == "" ]; then

    testCaseDirectoryPath=$(go env GOPATH)"/src/github.com/EscherAuth/test-cases"

    if [ ! -d "$testCaseDirectoryPath" ]; then
        git clone "https://github.com/EscherAuth/test-cases" $testCasesDirectoryName
    fi

    cd $testCasesDirectoryName
    git checkout -- .
    git pull
    cd $testCaseRepoCloneDirector

    export ESCHER_TEST_CASES_PATH="$testCaseDirectoryPath"

fi
